/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --indigo: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);
  --text-dark-3: rgba(235, 235, 235, 0.5);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --section-gap: 160px;
}

/* fonts */
:root {
  --font-regular: "Barlow Semi Condensed", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);

    --color-button: var(--text-dark-2);
    --color-button-hover: var(--text-dark-3);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--white-soft);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-regular);
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  font-size: 1em;
  margin: auto;
  max-width: 1400px;
  padding: 2rem 1rem;
  @media (min-width: 768px) {
    font-size: 1.5em;
    padding: 2rem 4rem;
  }
}

figure {
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  font-family: var(--font-regular);
  font-size: 1em;
  padding: 1rem 2rem;
}

input {
  font-family: var(--font-regular);
  font-size: .85em;
}

.btn {
  background-color: var(--black-mute);
  color: gold;
  font-size: 1em;
  font-weight: 900;
  border-width: 5px;
  border-color: #FFF5C3;
  border-style: dotted;
  padding: .5rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  outline: 3px solid black;
  box-shadow: 0px 0px 12px 1px gold;
  padding: .5rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  &:hover {
    background-color: var(--black); 
    box-shadow: 0px 0px 24px 1px gold;
  }
}

.btn-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}